<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/CounterCraftSeal.png"/>
        <span id="welcomeHeader">WELCOME TO COUNTERCRAFT</span>
        <span id="welcomeDescription">CounterCraft is a unique and original Minecraft FPS shooter mod, consisting of several gamemodes dozens of maps to bring a brand new experience within the game. CounterCraft also gives players the ability to manage a friends list, play in a group/party and join in with the community for events and new features every day!</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from playing CounterCraft.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>